* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "helvetica";
    src: url(../assets/helvetica-255/Helvetica-Bold.ttf);
    font-weight: 700;
}

h1,
h2 {
    font-family: "helvetica";
}

p,
h3,
span,
a,
h4 {
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none !important;
}

body {
    background-color: #F4F2EE !important;

}

main {
    overflow-x: hidden;
}



/* HEADER */

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

.logo {
    margin-left: 20px;
}

.header button {
    margin-right: 20px;
}

.header .container {
    border: 1.5px solid white;
    border-radius: 50px;
    padding: 8px;
    margin-top: 20px !important;
}

.menu {
    color: white !important;
}

.navigation-menu a {
    color: white;

}

.nav-item {
    background: #ffffff40;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid solid #ffffff40;
    border-radius: 50px;
    padding: 5px 20px;
    margin: 5px;
}


/* HERO */


.hero {
    background-image: url(../assets/images/hero.jpg);
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;

}

.hero-text {
    max-width: 1000px !important;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
}

.hero-text p {
    max-width: 780px !important;
    margin: auto;
}

.hero h1 {
    font-size: 88px !important;
    font-weight: 700 !important;

}

.select-box {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.select-box2 {
    display: none;
}

.select-box select {
    width: 200px;
    text-align: left;
    padding: 14px;
    background: #ffffff40;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid white;
    /* background: transparent;  */
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

/* .select-box select:hover {

} */


.select option {
    background-color: #002D33;
    color: white !important;
}

.select option:hover {
    background-color: #01444C !important;
}

.search-btn button {
    width: 200px;
    padding: 14px;
    border: 2px solid white;
    background-color: #002D33;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease;
}

.search-btn button:hover {
    background-color: #01444C;
    transform: translateY(-3px);
}



/* ABOUT-US */

.about-us {
    padding: 100px 0 100px 0;
}

h3 {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #01444C !important;

}

h2 {
    font-size: 40px !important;
    font-weight: 700 !important;
}



p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.about-us p {
    padding-bottom: 40px;
}

.learn-more-btn a {
    padding: 14px 18px;
    background-color: #002D33;
    color: white;
    font-size: 14px;
    border-radius: 50px;
    transition: all 0.3s ease;
    display: inline-block;
}

.learn-more-btn a:hover {
    background-color: #01444C;
    transform: translateY(-3px);
}

/* .about-us-img {
    height: 500px;
    width: 100%;
    position: relative;
    z-index: auto;
}

.about-us-img::after {
    content: "";
    position: absolute;
    height: calc(100% - -10px);
    width: 100%;
    bottom: -25px;
    right: -20px;
    background-color: #002D33;
    border-radius: 25px;
    z-index: -1;
} */

.about-us-img {
    height: 500px;
    width: 100%;
    position: relative;
    transition: transform 0.6s ease;
    z-index: 2;
}

/* EXPAND EFFECT */
.about-us-img.active {
    transform: scale(1.6) translateX(-20%);
    z-index: 10;
}
.about-us-img::after {
    content: "";
    position: absolute;
    height: calc(100% + 10px);
    width: 100%;
    bottom: -25px;
    right: -20px;
    background-color: #002D33;
    border-radius: 25px;
    z-index: -1;
}




.about-us-img img {
    border-radius: 25px;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: white;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counts {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

}

.counts h2 {
    color: #01444C;
}

.counts span {
    font-size: 20px;

}

/* video */
.about-us-img iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.about-us-img iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}


/* DESTINATINATIONS */




.destinations {
    padding: 100px 0 100px 0;
}

.center-head {
    text-align: center;
    margin-bottom: 80px;
}

.center-para {
    max-width: 700px;
    margin: auto;
}

.destinations-box img {
    object-fit: cover;

    transition: all 0.4s ease;
    transform-origin: bottom;

}

.destinations-box:hover img {
    transform: scale(1.1);
}

/* .destinations-box:hover .pop-up {
    display: block !important;
    opacity: 1;
} */

.destinations-box:hover .cntnt-box {
    bottom: 50px;
    border-radius: 25px;
    transform: translateY(0px)
}

/* .pop-up {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
} */
.destinations-box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}


.cntnt-box {
    padding: 10px 25px 0 25px;
    border-radius: 25px 25px 0 0;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 300px;
    transition: all 0.4s ease;
    transform: translateY(100px);
    /* transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); */

}

span {
    display: block;
}

.country {
    font-size: 14px;
    font-weight: 700;
    color: #01444C;
}

.location {
    font-size: 20px;
    font-weight: 600;

}

.para {
    font-size: 14px;
    color: black;
    padding: 10px 0;

}

.price {
    font-size: 20px;
    font-weight: 600;
}

.booknow-btn {
    color: white;
    background-color: #002D33;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    border-style: none;
    transition: all 0.3s ease;

}

.booknow-btn:hover {
    background-color: #01444C;
    transform: translateY(-3px);
}



.flex-cntnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box {
    position: relative;
}


.stars {
    display: flex;
    gap: 3px;
    font-size: 14px;
    color: #DACE25;
    padding: 10px;
    border-radius: 50px;
    background-color: white;
    width: fit-content;
    position: absolute;
    right: 20px;
    top: -16px;
}

.center-linkbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 70px;
}

.center-linkbtn a {
    padding: 14px 18px;
    background-color: #002D33;
    border-radius: 50px;
    color: white;
    transition: all 0.3s ease;

}

.center-linkbtn a:hover {
    background-color: #01444C;
    transform: translateY(-3px);
    /* box-shadow: 0 8px 15px rgba(1, 68, 76, 0.3); */
}


/* WHY-CHOOSE-US */



.why-choose-us {
    padding: 50px 0 100px 0;

}

.promise-box {
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    margin-top: -100px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.06);
}

h4 {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.box-para {
    max-width: 200px;
    margin: auto;
    padding: 20px 0 40px 0;
}

.learn-more-link {
    color: #002D33;
    font-size: 16px;
    transition: all 0.3s ease;
    display: inline-block;
}

.learn-more-link:hover {
    color: #01444C;
    font-size: 17px;
    transform: translateX(5px);
}

.promise-box img {
    margin-bottom: 20px;
}


/* OFFER-PACKAGES */

.offer-packages {
    padding: 50px 0 50px 0;
    position: relative;


}

.package-head {
    content: "";
    text-align: center !important;
    /* position: absolute;
    z-index: 6;
    left: 0;
    right: 0;
    top: 0;
    text-align: center; */

}

.packages-box {
    position: relative;
    margin: 0 10px;

}

/* .packages-box:hover {} */


.offer-tag {
    position: absolute;
    background-color: white;
    padding: 12px 16px;
    border-radius: 10px 0 0 10px;
    top: 80px;
    right: 0;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    text-align: center;
}

.off {
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #01444C;
}

.place {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.slider-boxes {
    padding-top: 50px;

}



.offer-packages::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    top: 130px;
    left: 50%;
    width: 100%;
    height: 100px;
    transform: translate(-50%);
    background-color: #F4F2EE;
    z-index: 5;



}

.offer-packages::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    bottom: 40px !important;
    left: 50%;
    width: 100%;
    height: 100px;
    transform: translate(-50%);
    background-color: #F4F2EE;
    z-index: 5;


}

/* POPULAR-PACKAGES */


.popular-packages {
    padding: 0 0 100px 0;
}

.pplr-pckgs-box {
    position: relative;
}

.pplr-pckgs-box .cntnt-box {
    padding: 10px 25px 0 25px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    transform: translateY(-10px);
    bottom: 30px;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 300px;
}

.days {
    font-size: 14px;
    font-weight: 400;
}

.flex-cntnt .price {
    z-index: 1;
}

.pplr-pckgs-box .para {
    padding-top: 5px;
}

.pplr-pckgs-box .flex-cntnt {
    padding-top: 10px;
}

.pplr-pckgs-box img {
    border-radius: 10px;
}

.popular-packages .stars {
    color: #01444C;
}


/*  TESTIMONIAL */




.testimonial-bg {
    background-image: url(../assets/testimonial/testimonial\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 120px 0;
    position: relative;
}


.f-box {
    margin-top: 130px;
}

.faq-box h2 {
    text-align: center;
}

.faq-box {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(239, 212, 212, 0.25);
    padding: 12px 20px;
    width: 100%;
    height: 430px;
    border-radius: 25px;
    position: relative;
}

.more-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 150px;
    padding: 12px;
    background-color: #002D33;
    border-radius: 50px;
    color: white;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -25px;
    right: 0;
    left: 0;


}

.more-btn a:hover {
    background-color: #01444C;
    transform: translateY(-3px);
}

.testimonial h2 {
    text-align: center;
}

.qn-a {
    border: 2px solid white;
    padding: 14px;
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.qn-a:hover .answr {
    display: block;

}

/* .qn-a:hover .iconx {
    display: block;
} */

.qn-a:hover .icon-plus {
    transform: rotate(45deg);

}

.qn {
    font-weight: 600;
}

.qn-a p {
    margin-bottom: 0;
}

.answr,
.iconx {
    display: none;
}

.more-btn {
    margin: 50px 0 -38px 0;

}



.qn-a .flex-cntnt {
    margin-bottom: 0;
}




.testimonial-box {
    margin-top: 300px;
    margin-left: 100px;
    height: 450px;
    width: 420px;
    position: relative;
    z-index: auto;
    padding: 80px 15px 30px 15px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 50px;

    /* clip-path: circle(0% 0%, 35% 0%, 40% 10%, 60% 0%, 100% 0%, 100% 100%, 0% 100%); */
    /* -webkit-mask-img:radial-gradiant(circle 60px at 50% 0%, transparent 100%, black 100%);
    mask-image: radial-gradient(circle 60px at 50% 0%, transparent 100%, black 100%);  */
}

.testimonial-box::after {

    content: "";
    position: absolute;
    height: calc(100% - -10px);
    width: 100%;
    bottom: -20px;
    right: -20px;
    background-color: #002D33;
    border-radius: 25px;
    z-index: -1 !important;


}


.profile img {
    object-fit: cover;
    height: 100%;
    width: 100%;

}

.profile {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -80px;
    right: 0;
    left: 0;
    margin: auto;


}

.profile-bg img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.profile-bg2 img {
    display: none;
    object-fit: cover;
    height: 100%;
    width: 100%;


}

.profile-bg2 {
    display: none;
    height: 162px;
    width: 162px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -90px;
    right: 0;
    left: 0;
    margin: auto;

}

.profile-bg {
    height: 162px;
    width: 162px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -90px;
    right: 0;
    left: 0;
    margin: auto;

}

/* .profile::after{
    content: "";
   
} */







.testimonial-box p {
    padding-top: 30px;
}

.custmr-rating {
    color: #01444C;
}

.arrow {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #01444C;
    color: white;
    font-size: 25px;
}


/* CTA */

.CTA {
    background-image: url(../assets/images/CTA-bg.jpg);
    height: 500px;
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 25px 25px 0 0;
    margin-top: 100px;
    position: relative;
    z-index: 0;
}

.CTA .container {
    position: absolute;
    z-index: 2;
}


.CTA::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 30%;
    z-index: 1;
    pointer-events: none;
}



.cta-cntnt {
    max-width: 700px;
}

.contact-us a {
    display: block;
    padding: 12px 30px;
    background-color: #002D33;
    border-radius: 50px;
    color: white;
    transition: all 0.3s ease;
}

.contact-us a:hover {
    background-color: #01444C;
    transform: translateY(-3px);
}


/* FOOTER */


.footer {

    background-color: #002D33;
    color: white;
}


.quick-links a,
.f-cntnt a {
    color: white;
    display: block;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 400;
    /* transition: all 0.3s ease; */
}

.quick-links a:hover {
    font-size: 16px;
    padding-bottom: 16px;
}

.f-cntnt a:hover {

    font-size: 16px;
    padding-bottom: 16px;
    /* transform: translateX(1px); */
}


.footer span {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 20px;
}

.f-logo {
    padding-bottom: 50px;
    padding-top: 30px;
}

.f-links {
    border-right: 1px solid white;
    height: 500px;
}

/* .quick-links {
    padding-bottom: 105px;
} */

.f-cntnt {
    padding-top: 102px;
    padding-bottom: 100px;
}

.f-icons {
    display: flex;
    gap: 10px;
}

.f-icons a {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0;
    color: white;

}

.f-icons a:hover {
    background-color: #01444C;
    font-size: 20px;
}

.input-field {
    border-radius: 30px;
    width: 100%;
    padding: 8px;
    border-style: none;

}

.input-field::placeholder {

    font-size: 14px;
}

.newsletter-form {
    position: relative;
}

.subscrib-btn {
    border-radius: 30px;
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 10px;
    margin-top: 10px;
    position: absolute;
    right: 0;
    bottom: -50px;
    transition: all 0.3s ease;
}

.subscrib-btn:hover {

    background-color: #01444C;
    transform: translateY(-3px);
}

.footer h1 {
    font-size: 114px;
    font-weight: 700;
    border-top: 1px solid white;
    color: #01444C;
    border-bottom: 1px solid white;

}

.copyright {
    font-size: 14px;
    text-align: center;
    font-weight: 400 !important;
    padding-top: 20px;
}

.footer-mob {
    display: none;
}